.nomination-button .MuiSvgIcon-colorPrimary {
    color: #a39e00;
}

.nomination-unavailable {
    opacity: 0.4;
}

.nomination-unavailable:hover {
    cursor: default;
}

.nomination {
    display: flex;
    height: 100%;
    width: 100%;
}