.nomination-button .MuiSvgIcon-colorPrimary {
    color: #a39e00;
}

/* .nomination-button {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px;
} */

/* .nomination-button:hover {
    cursor: pointer;
} */

.nomination-unavailable {
    opacity: 0.4;
}

.nomination-unavailable:hover {
    cursor: default;
}

/* .nomination-available {
    color: white;
    background-color: #00805f;
} */

.nomination {
    display: flex;
    height: 100%;
    width: 100%;
}