img {
    height: 10vh;
}

.movie {
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    width: 100%;
    margin: 5px;
    border-radius: 4px;
    background: antiquewhite;
}

.movie-title {
    width: 150px;
}

.nomination-button-container {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #fff;
    background-color: #00805f;
    width: 100px;
    padding: 5px;
    justify-content: center;
}

.nomination-button-container:hover {
    cursor: pointer;
}

.nomination-unavailable {
    opacity: 0.4;
}

.nomination-unavailable:hover {
    cursor: default;
}

.nomination-available {
    color: white;
    background-color: #00805f;
}