.remove-nomination-button {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.remove-nomination-button:hover {
    cursor: pointer;
}

.remove-nomination-button .MuiSvgIcon-colorPrimary {
    color: #c41408;
}