.top {
  width: 100%;
  background-color: #00805f;
  display: flex;
  color: #fff;
}

.logo {
  object-fit: cover;
  padding: 10px;
  height: 6vh;
}

.app-description {
  width: 50%;
  height: 20vh;
  margin: 30px auto;
  text-align: center;
  padding: 5px;
  font-size: larger;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border: 5px solid rgb(255, 203, 103);
}

/* .colored {
  background-color: rgb(255, 203, 103)
} */

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.9s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.9s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

.searchbar {
  width: 48%;
  margin: 10px;
}

.movies-display {
  display: grid;
  margin: 0 auto;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

.search-results {
  margin: 10px;
}

.nominations-card {
  margin: 10px;
}

.searchbar > .MuiCardContent-root:last-child {
  padding-bottom: 0;
}

.searchbar > .MuiCardContent-root {
  padding: 0;
}